@media screen and (max-width: 1100px) {

    /* !COMMON */


    /* !PRIMARY-SECTION */


    /* !PLAYER-SECTION */
}


@media screen and (max-width: 700px) {

    /* !COMMON */


    /* !PRIMARY-SECTION */


    /* !PLAYER-SECTION */
}


@media screen and (max-width: 600px) {

    /* !COMMON */

    /* !PRIMARY-SECTION */
    /* @sidebar */
    #large-logo ,
    .sidebar p ,
    .sidebar h3 ,
    .playlist, 
    .personal p,
    .personal h3,
    .personal hr {
        display: none;
    }

    #small-logo {
        display: inline-block;
        height: 3rem;
    }

    .install {
        text-align: center;
    }
    
    .sidebar {
        width: 100px;
    }


    .content {
        width: calc(100% - 100px);
    }
    /* !PLAYER-SECTION */
 
}
