/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

:root {
    --bg-clr: #141922;
    --player-height: 100px;
    --sidebar-width: 250px;
    --text-clr: #A3A3A3;
}

/* !COMMON */
body {
    background-color: var(--bg-clr);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-clr);
}

.mc-wrapper {
    height: 100vh;
    margin: 0 auto;
}

li > * ,
.install > * ,
.user > * {
    display: inline-block;
    vertical-align: middle;
}

/* $font */
.bold {  
    color: white;
    font-weight: 900;
}.description {

    color: var(--text-clr);
}
/* #utilities */
.capslock {
    text-transform: uppercase;
}

.circle {
    border-radius: 50%;
}

/* !PRIMARY-SECTION */
.primary-section {
    height: calc(100% - var(--player-height));
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/* @sidebar */
.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: black;
    padding: 1rem 1rem 100px;
    overflow-y: auto;
}

.sidebar > * ,
.menu > *,
.playlist > * {
    padding: .5rem;
}

.logo {
    height: var(--player-height);
    width: 80%;
}

#small-logo {
    display: none;
}

.menu img {
    height: 2rem;
}

.install {
    margin-bottom: .5rem;
}

.user {
    margin-top: .5rem;
}

.user .circle {
    background-color: var(--text-clr);
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: top;
}

.personal {
    position: absolute;
    bottom: 0px;
    left: 1rem;
    height: 100px;
    padding: 1rem;
    background-color: black;
}

/* @content */
.content {
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - 100px);
    background-color: var(--bg-clr);
    position: relative;
    padding-top: var(--player-height);
    overflow-y: auto;
}

.main {
    padding: 1rem;
}

/* #header */
.header {
    height: var(--player-height);
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--sidebar-width));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    z-index: 999;
}

.header .button {
    display: inline-block;
    border: 2px solid white;
    border-radius: 1rem;
    padding: .5rem 2rem;
}

/* #main */
.main .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3rem 0;
}

.main .col > * {
    display: block;
}

.navbar {
    justify-content: center;
}

.genre .col {
    width: calc(100% / 6 - (5rem / 6));
    text-align: center;
}

.cover {
    position: relative;
}

.cover i {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
}

.popular img {
    border-radius: 50%;
}

/* !PLAYER-SECTION */
.bottom-section {
    display: flex;
    justify-content: space-between;
    height: var(--player-height);
    background-color: #282828;
}

.player {
    min-width: 200px;
    width: calc(100% - (500px));
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.side {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: .5rem;
}

.info img {
    width: 35%;
    margin-right: .5rem;
}

.song-details p {
    color: var(--text-clr);
}

.player .top ,
.player .bottom {
    height: 50%;
}

.top i:nth-of-type(3) {
    margin: 0 1rem;
}

.top i:first-of-type ,
.top i:last-of-type {
    margin: 0 .5rem;
}

.audio-bar {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.max-audio {
    height: 5px;
    width: 80%;
    background-color: #5A5A5A;
    border-radius: 1rem;
}

.max-audio {
    position: relative;
    top: 5px;
}

.current-audio {
    height: 5px;
    width: 25%;
    background-color: var(--text-clr);
    border-radius: 1rem;
}

.volume-bar {
    width: 50%;
}

.max-volume{
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 1rem;

}

.current-volume {
    height: 5px;
    width: 25%;
    background-color: var(--text-clr);
    border-radius: 1rem;

}